# interdire de lister le contenu des répertoires (erreur 403 générée)
Options -Indexes

# par défaut le fichier index.php sera recherché en premier
DirectoryIndex index.php

# rédirection des erreurs 404, 403, 401 et 410 vers des pages personnalisées
ErrorDocument 404 /erreur/404.php
ErrorDocument 403 /erreur/403.php
ErrorDocument 401 /erreur/401.php
ErrorDocument 410 /erreur/410.php

<IfModule mod_alias.c>
    Redirect gone /courseenvue
</IfModule>

# activation du module mod_rewrite d'Apache.
RewriteEngine On

# interdire l'accès direct au fichier .html
# en renvoyant une erreur 403
# RewriteRule \.html$ - [F]
# en redirigeant vers une page d'erreur 403
# RewriteRule \.html$ - [R=403,L,NC]
# Retourner une erreur 404 pour les fichiers .html
RewriteRule \.html$ - [R=404,L,NC]


# traduction des URLs logiques se terminant par /modification/xx en une URL réelle se terminant par /modification.php?id=xx



