AuthUserFile j:/VirtualHostSlam/vds/backoffice/.htpasswd
AuthName "Accès administration"
AuthType Basic
require user admin

# protection du fichier .htpasswd
<Files ".htpasswd">
    Require all denied
</Files>

